
* header {
    box-sizing: border-box;
    height: 6vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
}

.github-logo {
    background-color: rgb(22, 22, 22);
    height: 45px;
    width: 45px; 
    margin: 20px;
}

.kitten-pic {
    width: 40px; 
    Height: 40px;
    /* background-image: url('url here with https://'); */
    border-radius: 60%;
    margin: 5px;
}
.search-bar {
    color: white;
    text-align: left;
    font-size: 16px;
    width: fit-content;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.pull-requests {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;

}

.issues {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}

.marketplace {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}

.explore {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
}























/* header {
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    width: 33vw;
    background-color: blanchedalmond;
    justify-content: space-between;
}

#website-info {
    height: 30vh;
    background-color: cyan;
}

#icons {
    height: 30vh;
    background-color: rebeccapurple;
}

footer {
    height: 30vh;
    background-color: burlywood;
}

#cactus-wrapper {
    width: 33vw;
    /* background-color: blanchedalmond; */
    /* display: flex;
    align-items: center;
    justify-content: center;
} */

/* #cactus {
    width: 60px;
}

#website-info { */
    /* background-image: url("./media/bg_image_1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#website-info-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
/* } 